<h2 id="title">google-maps-markup</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      {{google-maps-markup map=map editable=false panForOffscreen=false autoResetToPan=true}}
    </div>
    <div class="col-md-6 col-sm-12">
      {{google-map map=map}}
    </div>
  </div>
</div>

{{outlet}}

